@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Major+Mono+Display&display=swap");

* {
  font-family: "Major Mono Display";
}

body {
  text-align: center;
  background-color: #3c486b;
  color: white;
}

header {
  height: 100px;
  margin-left: 200px;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 200px;
}

footer {
  display: flex;
  margin: 0 20px 0 200px;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0px;
  background-color: #3c486b;
}

footer a {
  color: white;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
}

footer a:hover {
  color: #3c486b;
  background-color: #f0f0f0;
}

.btn-input {
  font-size: 20px;
  margin: 0 5px;
}

.dice {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  border: none;
  margin: 10px;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dice-btn {
  margin: 10px;
  width: 200px;
  height: 40px;
  font-family: "Arial";
  font-size: 1.2rem;
  color: #3c486b;

  border: 2px solid #f0f0f0;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  transition: border 0.3s;
}

.dice-btn:hover {
  border: 2px solid#F45050;
  color: #f45050;
}

.description {
  word-break: break-all;
  white-space: normal;
}

.roll-comment {
  display: block;
}

#roll-result {
  font-size: 5rem;
  color: black;
}

#quantity {
  height: 50px;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 4px;
}

.sidenav {
  height: 100%;
  width: 160px;
  padding: 15px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f0f0f0;
  overflow-x: hidden;
}

.sidenav a {
  font-family: Arial, Helvetica, sans-serif;
  color: #3c486b;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 10px 0px;
  transition: color 0.3s;
}

a:hover {
  color: #f9d949;
}

.nav-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 100px;
}

@media screen and (max-width: 600px) {
  .sidenav {
    display: none;
  }

  header,
  footer,
  section {
    margin-left: 0;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
