/* MAIN */
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: hsl(207, 50%, 30%);
  padding: 0 30px;
  min-width: 930px;

  color:#ECF4D6;
  font-family:'Courier New', Courier, monospace;
  margin: 0;

}

header, footer, section {
  width: 100%;
  align-items: center;
  margin: 15px 0;
  background-color: #2D9596;
  border-radius: 4px;

  max-width: 900px;
}

a {
  color: inherit;
  text-decoration: none;
}

p{
  font-size: 20px;
}


h1 {
  margin-top: 20px;
  font-size: 50px;
  text-align: center;
}

/* Navbar */

.nav-bar {
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.nav-bar a {
  margin: 0 10px;
}


/* HERO */
#hero {
  background: rgb(38,80,115);
  background: radial-gradient(circle, rgba(38,80,115,1) 0%, rgba(45,149,150,1) 100%);
  margin: 0;
  padding: 0;
}


.hero-img{
width: 100%;
height: auto;
}

/* EXPLANATION */
.explanation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#explanation p {
  width: 500px;
  margin-right: 80px;
  text-align: justify;
}

.explanation-img {
width: 50%;
height: auto;
}

/* CONTENT */

.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  margin: 40px 100px;

}

.content-container{
  width: 100%;
  height: auto;
  background-color: #9AD0C2;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  align-items: center;
  
}

.content-img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  filter:brightness(80%);
  border-radius: 4px;
  transition: filter 0.3s;
}

.content-img:hover{
  filter:brightness(100%);
}

.content-text {
 width: 90%;
 text-align: center;
}

.content-title {
  margin: 10px 0;
}

.content-btn {
 margin: 30px 0;;
  padding: 10px 25px;
  font-family:'Courier New', Courier, monospace;
  font-size: 22px;
  color: #ECF4D6;
  background-color: #2D9596;
  border: 3px solid #2D9596;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.content-btn:hover,
.content-btn:focus{
  background-color: #9AD0C2;
}




/* FOOTER */

footer {
  display: flex;
  justify-content: space-around;
  height: 50px;
}

footer a {
  padding: 5px;
  transition: all 0.3s;
}

footer a:hover {
background-color: #9AD0C2;
border-radius: 2px;
}





